li a {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background: white url("images/background.jpg") no-repeat;
    background-size:cover;
}

ul {
    list-style-type: none;
}

ul li {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


form label {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="radio"] {
    display:inline;
    height: 25px;
    width: 25px;
}

input {
    margin-top: 20px;
    border-radius: 25px;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(73, 50, 109);
    border: none;
    height: 150px;
    width: 450px;
}